.bsr-context-menu{
 background: white;
 position: absolute;
 width: fit-content;
 height: fit-content;
 border: 1px solid black;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}